#boards {
    display: flex;
    gap: 20px;
}

.cell {
    border: solid, black, 1px;
    width: 40px;
    height: 40px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell-oponent{
    cursor: pointer;
}
.cell-oponent:hover {
    background-color: rgba(215, 247, 236, 0.993);
}

.row {
    display: flex;
}