#boards {
    display: flex;
    gap: 20px;
}

.cell {
    border: solid, rgba(211, 208, 208, 0.39), 1px;
    width: 40px;
    height: 40px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.touched{
    background-color: red;
}

.missed{
    background-color: rgb(207, 205, 205);
}

.cell-oponent{
    cursor: pointer;
}
.cell-oponent:hover {
    background-color: rgba(215, 247, 236, 0.993);
}

.row {
    display: flex;
    position: relative;
}

.ship {
    box-sizing: border-box;
    box-shadow: inset 0 0 0 4px rgb(13, 131, 199);
    position:absolute;
    left:0;
    top:0;
    z-index: 10;
    user-select: none;
}

.ship:hover{
    background-color: rgba(65, 217, 228, 0.678);
}

#startGame, #resetBtn {
    height: 30px;
    cursor: pointer;
}